# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/administrator/logs
/cache
/installation/cache
/tmp
/configuration.php
/.htaccess
/web.config

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php
codecept.phar
tests/codeception/_output/*
tests/codeception/vendor/*
tests/codeception/testingsite*
tests/codeception/tests/acceptance.suite.yml
tests/codeception/tests/acceptance/*Tester.php
tests/codeception/tests/functional/*Tester.php
tests/codeception/tests/unit/*Tester.php

# phpDocumentor Logs #
phpdoc-*

# Patch Tester #
/administrator/components/com_patchtester
/components/com_patchtester
/media/com_patchtester

# Install from Web plugin #
/plugins/installer/webinstaller

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Never ignore #
# Only apply this rule to the main repository's gitignore files
!/.gitignore
!/build/.gitignore
!/tests/unit/suites/libraries/joomla/archive/.gitignore
!/tests/unit/tmp/.gitignore

# Extra files installed by Composer not needed in the CMS environment
# This should only ignore files like unit testing or READMEs, production
# code must remain to ensure all libraries properly function
/libraries/vendor
composer.lock
